Package: com.saurik.iphone.mamu
Priority: optional
Section: Tweaks
Maintainer: Jay Freeman (saurik) <saurik@saurik.com>
Architecture: iphoneos-arm
Version: 2.0.2965-1
Description: send attachments using filenames in URLs
Name: attachment= for mailto:
Depends: mobilesubstrate (>= 0.9.2587-1)
Pre-Depends: dpkg (>= 1.13.25-5)
Author: Jay Freeman (saurik) <saurik@saurik.com>
Depiction: http://cydia.saurik.com/info/com.saurik.iphone.mamu/
