<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>entry</key>
    <dict>
	<key>cell</key>
	<string>PSLinkCell</string>
	<key>icon</key>
	<string>PrivacyIcon.png</string>
	<key>label</key>
	<string>Privacy</string>
    </dict>
    <key>items</key>
    <array>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>label</key>
	    <string>Send Anonymous Usage Statistics</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <true/>
	    <key>defaults</key>
	    <string>com.saurik.PrivaCy</string>
	    <key>key</key>
	    <string>OptOut/Flurry</string>
	    <key>label</key>
	    <string>Flurry</string>
            <key>negate</key>
            <true/>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <true/>
	    <key>defaults</key>
	    <string>com.saurik.PrivaCy</string>
	    <key>key</key>
	    <string>OptOut/Medialets</string>
	    <key>label</key>
	    <string>Medialets</string>
            <key>negate</key>
            <true/>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <true/>
	    <key>defaults</key>
	    <string>com.saurik.PrivaCy</string>
	    <key>key</key>
	    <string>OptOut/Mobclix</string>
	    <key>label</key>
	    <string>Mobclix</string>
            <key>negate</key>
            <true/>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <true/>
	    <key>defaults</key>
	    <string>com.saurik.PrivaCy</string>
	    <key>key</key>
	    <string>OptOut/PinchMedia</string>
	    <key>label</key>
	    <string>Pinch Media</string>
            <key>negate</key>
            <true/>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>isStaticText</key>
            <true/>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSTitleValueCell</string>
	    <key>label</key>
	    <string>Developers use this information to&#xa;improve their products, but some&#xa;users do not to trust the providers&#xa;to handle their information safely.</string>
	</dict>
	<!--dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSSwitchCell</string>
	    <key>default</key>
	    <false/>
	    <key>defaults</key>
	    <string>com.saurik.PrivaCy</string>
	    <key>key</key>
	    <string>DisplayEvents</string>
	    <key>label</key>
	    <string>Display Events</string>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSGroupCell</string>
	    <key>isStaticText</key>
            <true/>
	</dict>
	<dict>
	    <key>cell</key>
	    <string>PSTitleValueCell</string>
	    <key>label</key>
	    <string>Discover what is tracking you.</string>
	</dict-->
    </array>
    <key>title</key>
    <string>Privacy</string>
</dict>
</plist>
