Package: com.saurik.iphone.ihmr
Priority: optional
Section: Tweaks
Maintainer: Jay Freeman (saurik) <saurik@saurik.com>
Architecture: iphoneos-arm
Version: 0.9.3047-1
Description: disable rotating map weirdness
Name: Map Rotation Sucks
Depends: mobilesubstrate (>= 0.9.2587-1)
Pre-Depends: dpkg (>= 1.13.25-5)
Author: Jay Freeman (saurik) <saurik@saurik.com>
Depiction: http://cydia.saurik.com/info/com.saurik.iphone.ihmr/
